/* MOBILE */
/* max-width: 480px */

/* Main forecast */

.main-forecast {
    padding: 1rem var(--padding-mobile) 2rem var(--padding-mobile);
}

/* City header */
.city-header {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

/* Main forecast data */

.main-data {
    row-gap: 0.5rem;
    padding: 1rem 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "temp ." 
    "sunup sundown"
    "visibility humidity"
    "exp-temp wind" 
    "air-pressure ."
    "weather-condition weather-condition"
    ;
}

.temp {
    margin-bottom: 0.5rem;
}

.weather-condition {
    font-size: 1.2rem;
}

.city-name {
    font-size: 1.5rem;
}

.city-name i {
    margin-left: 0.5rem;
}

/* Hourly forecast */

.hourly-forecast {
    width: 100%;
    padding: 1rem var(--padding-mobile);
}

.hour-container {
    margin: 0 0.5rem;
}

/* Weekly forecast */

.weekly-forecast {
    padding: 1rem 0;
}

.day-container {
    padding: 0 var(--padding-mobile);
}