/* TABLET LARGE */
/* max-width: 1024px */

/* Main forecast */

.main-forecast {
    padding: 3rem var(--padding-tablet);
}

/* Main forecast data */

.temp {
    font-size: 6rem;
}

.weather-condition {
    font-size: 1.6rem;
}

/* Hourly forecast */

.hourly-forecast {
    width: 100%;
    padding: 1.5rem var(--padding-tablet);
}

/* Weekly forecast */

.weekly-forecast {
    padding: 2rem var(--padding-tablet);
}

.day-container {
    padding: 0 1rem;
}