/* Main forecast */

.main-forecast {
    width: 100%;
    height: auto;
    padding: 3rem var(--padding-desktop);
}

/* City header */
.city-header {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "today . ."
    "municipality . ."
    "city . favorite";
    border-bottom: white 0.2rem solid;
}

.favorite {
    align-self: end;
    margin: 0.5rem 0 0.5rem 2rem;
    cursor: pointer;
    grid-area: favorite;
}

.city {
    grid-area: city;
}

.municipality-name {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    color:rgb(182, 182, 182);
    grid-area: municipality;
}

.city-name {
    margin: 0;
}

.city-name, .city-header span {
    font-size: 2rem;
}

.city-name i {
    font-size: 1.8rem;
    margin-left: 1rem;
}

/* Main forecast data */

.main-data {
    row-gap: 0.5rem;
    padding: 1rem 0 1rem 0;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "temp sunup sundown visibility humidity"
    "temp exp-temp wind air-pressure ."
    ". weather-condition weather-condition weather-condition weather-condition"
    ;
}

.main-data h2 {
    font-size: 0.8rem;
    margin: 0.3rem 0;
}

.temp {
    line-height: 90%;
    align-self: start;
    font-size: 6rem;
    grid-area: temp;
    margin: 0;
}

.main-data div p {
    margin: 0;
}

.sunup, .sundown, .visibility, .humidity, .exp-temp, .wind, .air-pressure {
    font-size: 2rem;
}

.sunup {
    grid-area: sunup;
}

.sundown {
    grid-area: sundown;
}

.visibility {
    grid-area: visibility;
}

.humidity {
    grid-area: humidity;
}

.exp-temp {
    grid-area: exp-temp;
}

.wind {
    grid-area: wind;
}

.air-pressure {
    grid-area: air-pressure;
}

.weather-condition {
    font-size: 1.5rem;
    margin-top: 1rem;
    grid-area: weather-condition;
}

/* Hourly forecast */

.hourly-forecast {
    width: 100%;
    height: auto;
    padding: 1.5rem var(--padding-desktop);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hourly-forecast-inner {
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hourly-forecast-inner::-webkit-scrollbar {
    display: none;
}

.hour-container {
    margin: 0 1rem;
}

.hour-container i {
    margin: 0.6rem 0;
}

.hour-container p {
    margin: 0;
}

/* Weekly forecast */

.weekly-forecast {
    padding: 2rem var(--padding-desktop);
}

.day-container {
    padding: 0 1rem;
    margin: 5px 0; /* Pixels are needed for correct space rendering */
    background-color: rgba(0, 0, 0, 0.35)
}

.day-container i {
    margin-left: 0.5rem;
}