/* Welcome section */

.welcome-section {
    padding: 10rem var(--padding-desktop) 3rem var(--padding-desktop);
}

.welcome-today {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.welcome-date {
    font-size: 2rem;
    margin: 0;
}

/* Favorites */

.favorites-container {
   width: 100%;
   height: auto;
   padding: 0 var(--padding-desktop);
   column-gap: 0.5rem;
   row-gap: 0.5rem;
   grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.favorite {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 1.5rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "temp fav-symbol"
    "border border"
    "city city"
    "municipality more-button"
    ;
}

.favorite-temp {
    font-size: 4rem;
    margin: 0;
    grid-area: temp;
}

.favorite-symbol {
    margin: 0;
    justify-self: end;
    cursor: pointer;
    grid-area: fav-symbol;
}

.border {
    margin: 0.5rem 0 1rem 0;
    border-bottom: 0.1rem white solid; 
    grid-area: border;
}

.city {
    display: flex;
    width: fit-content;
    margin: 0;
    font-size: 1.2rem;
    grid-area: city;
}

.city i {
    margin-left: 0.5rem;
}

.municipality {
    margin: 0.4rem 0 0 0;
    font-size: 1rem;
    color:rgb(182, 182, 182);
    grid-area: municipality;
}

.more-button {
    white-space: nowrap;
    margin-left: 0.5rem;
    justify-self: end;
    align-self: end;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    grid-area: more-button;
}