/* Welcome section */

.welcome-section {
    padding: 6rem var(--padding-mobile) 2rem var(--padding-mobile);
}

/* Favorites */

.favorites-container {
    padding: 0 0;
}

.favorite {
    padding: 1.5rem var(--padding-mobile)
}