/* TABLET LARGE */
/* max-width: 1024px */

/*--- HEADER ---*/

header {
    height: 5rem;
    padding: 0 var(--padding-tablet);
}

h1 {
    margin-right: 2rem;
}

/*--- FOOTER ---*/

footer {
    padding: 0 var(--padding-tablet);
}