/*--- HEADER ---*/

header {
    height: 5rem;
    padding: 0 var(--padding-mobile);
}

.search-field {
    width: 2.4rem;
    transition: width 0.5s ease-in-out;
}

.search input {
    width: 0;
    margin: 0;
    transition: margin 0.5s ease-in-out;
}

.stations-list {
    width: calc(100% - 2 * var(--padding-mobile)); 
}