/* Welcome section */

.welcome-section {
    padding: 10rem 15% 3rem 15%;
}

.welcome-today {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.welcome-date {
    font-size: 2rem;
    margin: 0;
}

/* Favorites */

.favorites-container {
   width: 100%;
   height: auto;
   padding: 0 15%;
   column-gap: 0.5rem;
   row-gap: 0.5rem;
   grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.favorite {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 1.5rem;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 
    "temp temp fav-symbol"
    "border border border"
    "city city more-button";
}

.favorite-temp {
    font-size: 4rem;
    margin: 0;
    margin-top: 1rem;
    grid-area: temp;
}

.favorite-symbol {
    margin: 0;
    justify-self: end;
    cursor: pointer;
    grid-area: fav-symbol;
}

.border {
    margin: 0.5rem 0 1rem 0;
    border-bottom: 0.1rem white solid; 
    grid-area: border;
}

.favorite-city {
    width: fit-content;
    grid-area: city;
}

.city {
    margin: 0;
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.city-symbol {
    margin: 0;
    grid-area: symbol;
}

.more-button {
    justify-self: end;
    align-self: end;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    grid-area: more-button;
}