* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

body {
    background-color: #2C3647;
    color: white;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.35);
}

.img-container {
    position: relative;
    overflow: hidden;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0.35;
    z-index: -1;
}

/*--- HEADER ---*/

header {
    position: relative;
    height: 4rem;
    width: 100%;
    padding: 0 15%;
}

h1 {
    font-size: 1rem;
    margin-right: 4rem;
}

header a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.search-field {
    opacity: 100;
    z-index: 100;
}

/*--- FOOTER ---*/

footer {
    height: 4rem;
}